<div class="footer-custom">
  <div class="row">
    <%= wicked_pdf_image_tag 'logo-dark', class: "col-xs-3 footer-logo col-xs-offset-1" %>
    <%= wicked_pdf_image_tag 'logo-dark', class: "col-xs-3 footer-logo col-xs-offset-4" %>
  </div>
  <br>
  <div class="row">
    <div class="text-center">
      San Lorenzo 341, 7mo. B – San Miguel de Tucumán – Argentina<br>
      info@vafdmd.com – wavelabs@vafdmd.com
    </div>
  </div>
</div>
